<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photoandroid">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permisson.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoAndroid">
        <activity
            android:name=".searchResult"
            android:label="@string/title_activity_search_result"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar"></activity>
        <activity
            android:name=".searchPhoto"
            android:label="@string/title_activity_search_photo"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar" />
        <activity android:name=".movePhoto" />
        <activity android:name=".removeTag" />
        <activity android:name=".addTag" />
        <activity
            android:name=".renameAlbum"
            android:label="@string/title_activity_rename_album"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar" />
        <activity
            android:name=".photoDisplay"
            android:label="@string/title_activity_photo_display"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".AddPhoto" />
        <activity
            android:name=".albumDisplay"
            android:label="@string/title_activity_photo_display"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar" />
        <activity
            android:name=".AddAlbum"
            android:label="@string/title_activity_add_album"
            android:theme="@style/Theme.PhotoAndroid.NoActionBar" />
        <activity android:name=".Albums">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>